<!-- htmlhint doctype-first:false -->
{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block description %}Blog posts by Terence Mahlatini{% endblock %}

{% block content %}
{% if posts_by_year %}
{% for year in sorted_years %}

<section>
    <h3>{{ year }}</h3>
    <ul class="posts posts-by-year">
        {% for post in posts_by_year[year] %}
        <li class="{% if not loop.last %}post-item{% else %}post-item post-item-last-in-year{% endif %}">
            {% if post.published %}
            <time class="date" datetime="{{ post.published.strftime('%Y-%m-%d') }}">{{ post.published.strftime('%m/%d') }}</time>
            {% endif %}
            <a href="{{ url_for('post', slug=post.slug) }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}
{% else %}
<p>No posts yet. Check back soon!</p>
{% endif %}
{% endblock %}

