<!-- htmlhint doctype-first:false -->
{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    {% if post.published %}
    <div class="meta">
        <time class="date" datetime="{{ post.published.strftime('%Y-%m-%d') }}">Published: {{ post.published.strftime('%B %d, %Y') }}</time>
        {% if post.modified %}
        <span class="separator"> • </span>
        <time class="date modified" datetime="{{ post.modified.strftime('%Y-%m-%d') }}">Last modified: {{ post.modified.strftime('%B %d, %Y') }}</time>
        {% endif %}
    </div>
    {% endif %}
    <div class="content">
        {{ post.content|safe }}
    </div>
    <p class="back-link"><a href="{{ url_for('blog') }}">← All posts</a></p>
</article>
{% endblock %}

